
*,
*::before,
*::after {
    box-sizing: border-box;
}
@media only screen and (max-width: 1366px) {
  
  body  {
    margin: 0;
    padding: 0;
}
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: nowwrap;
    margin: 0 16px;
  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container {
      margin: 2%;
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    font-family: cursive;
    background-image: linear-gradient(to bottom right, rgb(41, 31, 31), rgb(0, 157, 230));
  }
  
  input[type=text] {
    width: 75%;
    margin-bottom: 20px;
    padding: 5px;
    border: 7px solid #95a7ab ;
    border-radius: 5px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size:100px;
  }
  
  .btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  .delivery {
    color: black;
    padding: 5px 20px 15px 20px;
    border: 1px solid black;
    border-radius: 5px;
  }
  

  /*-------------------------footer--------------------------------------------*/
  html{
    scroll-behavior: smooth;
}
.hr1 {
  margin: 2%;
  color: rgb(255, 255, 255);
  outline: 1px solid rgb(0, 0, 0);
  margin-left: 25%;
  margin-right: 25%;


}

.hr2 {
  margin: 1%;
  margin-top: 180px;
  margin-left: 185px;
  margin-right: 185px;

}

.hr3 {
 
  margin-top: 1%;
  margin-left: 185px;
  margin-right: 185px;

}

.location {

  text-align: center;
  color: rgb(179, 238, 16);
  font-size: 2ch;
  margin-bottom: 15px;
  cursor: pointer;
}

.contact {

  float: left;
  margin: 2px;
  margin-left: 450px;
  color: rgb(179, 238, 16);
  padding: 20px;
  cursor: pointer;

}

.timing {
  margin: 2px;
  float: right;
  margin-right: 450px;
  color: rgb(179, 238, 16);
}

.mainicon {
  display: inline-flex;
  margin-left: 40%;
}

.icons {
  margin: 2%;
  margin-left: 4%;
  padding: 15px;
  color: rgb(0, 0, 0);
  display: inline-block;
  cursor: pointer;
}
#icon1:hover {

  color: rgb(73, 84, 145);
}
#icon2:hover {

  color: #d6249f;
}
#icon3:hover {

  color: rgb(211, 14, 14);
}
#icon4:hover {

  color: lightgreen;
}

.text{
  text-align: center;
  color: rgb(0, 0, 0);
  margin: 2%;
  font-size: 3ch;
}
/*-------------------------footer--------------------------------------------*/
  